  
  :root {
    /* Text and container colors */
    --text:               #000000;
    --heading:            #FFFCF2;
    --link:               #FFFCF2;
    --link-hover:         #28deeb;
    --background:         #88746d;    /* Page background */
    --div-border:         #5a6778;    /* Widget border */
    --div-content:        #6a7e95;    /* Widget container background */
    --div-content-border: #5a6778;    /* Widget border */
    --tbl-content:        White;      /* Widget information panel background with alpha */
    --tbl-heading:        #000000;    /* Content headings */
    --tbl-rpt-txt:        #FFFCF2;    /* Report tool text */
  }
  .page {
    text-align:       center;
    margin:           auto;
    width:            1200px;
    padding:          10px;
  }
    
  body {
    font-family:      Verdana;
    color:            var(--text);
    background-color: var(--background);
  }  
  
  a {
    font-style:       oblique;
    color:            var(--link); 
    text-decoration:  none;
  }

  a:hover {
    color:            var(--link-hover);
  }
  
  .inputText {
    font-size:        medium;
    padding:          8px;
    width:            100px;
    border:           none;
    border-radius:    5px;
    outline:          none;
  }

  .inputText:hover {
    box-shadow:       0 8px 16px rgba(0,0,0,0.4);
  }

  .inputSearchText {
    padding:          8px;
    width:            175px;
    border:           none;
    border-radius:    10px;
    outline:          none;
    text-transform:   uppercase;
  }
  .inputSearchText:-webkit-autofill {
    
    -webkit-text-fill-color: black;
    -webkit-box-shadow: 0 0 0px 1000px white inset; 
}

  .inputButton {
    font-size:        medium;
    padding:          10px;
    width:            75px;
    border:           none;
    border-radius:    10px;
    box-shadow:       0 4px 8px rgba(0,0,0,0.2);
  }

  .inputButton:hover {
    box-shadow:       0 8px 16px rgba(0,0,0,0.4);
  }
  .inputButton:active {
    transform: translateY(4px)
  }
  
  select {
    font-size:        medium;
    padding:          8px;
    width:            175px;
    border:           none;
    border-radius:    5px;
    outline:          none;
  }

  select:hover {
    box-shadow:       0 8px 16px rgba(0,0,0,0.4);
  }
  
  .heading {
    font-size:        x-large;
    font-weight:      bold;
    color:            var(--heading);
  }

  .subheading {
    font-size:        large;
    color:            var(--heading);
  }

  .divHeader {
    background-color: var(--div-border);
    border-radius:    15px;
    border:           none;
  }

  .divContent {
    padding:          10px;
    background-color: var(--div-content);
    border-radius:    15px;
    border:           1px solid var(--div-border);
    text-align:       left;
    box-shadow:       0 8px 16px rgba(0,0,0,0.4);
  }
  .divInnerContent {
    margin-top:       10px;
    padding:          10px;
    background-color: var(--tbl-content);
    border-radius:    15px;
    border:           2px solid var(--div-content-border);
    text-align:       left;
    overflow-x:       hidden;
    overflow-y:       auto;
  }

  .tabTitle{
    color:            var(--heading);
    font-size:        large;
    font-weight:      bold;
    text-align:       left;
  }

  .tableHeader {
    width:            100%;
    padding:          10px 10px;
    border:           none;
    text-align:       left;
  }
/* DEL */
  .tableContent {
    width:            100%;
    padding:          10px 10px;
    background-color: var(--tbl-content);
    border-radius:    15px;
    vertical-align:   top;
  }

  th {
    font-size:        medium;
    color:            var(--tbl-heading);
    white-space:      nowrap;
    vertical-align:   top;
  }
  
  td {
    text-align:       left;
    vertical-align:   top;
  }

  .login {
    display:          flex;
    justify-content:  center;
  }

  .chart {
    padding-left:     5px;
    width:            800px;
    border:           2px solid var(--div-content-border);
    border-radius:    5px;
  }

  .totals {
    margin-left:      10px;
    padding-left:     5px;
  }

  .rptHeader {
    color:            var(--tbl-rpt-txt);

  }

  .rptRow {
    color:            var(--tbl-rpt-txt);

  }
