  
  :root {
    /* Text and container colors */
    --text:               #000000;
    --heading:            #FFFCF2;
    --link:               #FFFCF2;
    --link-hover:         #28deeb;
    --background:         #8b7770;    /* Page background */
    --div-border:         rgba(169, 169, 169, 0.75);    /* Widget border */
    --div-content:        #6a7e95;    /* Widget container background */
    --div-content-border: #5a6778;    /* Widget border */
    --tbl-content:        White;      /* Widget information panel background with alpha */
    --tbl-heading:        #000000;    /* Content headings */
    --tbl-rpt-txt:        #FFFCF2;    /* Report tool text */
  }
  .page {
    text-align:       center;
    margin:           auto;
    width:            1280px;
  }
    
  body {
    font-family:      Verdana;
    color:            var(--text);
    background-color: var(--background);
    background-image: linear-gradient(to right, #1c1f24, #272b31, #32383f, #3e454e, #4a525d, #3e454e, #32383f, #272b31, #1c1f24);
  }  
  
  a {
    font-style:       oblique;
    color:            var(--link); 
    text-decoration:  none;
  }

  a:hover {
    color:            var(--link-hover);
  }
  
  .inputTip{
    height:           15px;
    margin-left:      3px;  
  }

  .inputText {
    font-size:        medium;
    padding:          8px;
    width:            100px;
    border:           1px solid var(--div-border);
    border-radius:    5px;
    outline:          none;

  }

  .inputText:hover {
    border:           1px solid blue;
  }

  .inputSearchText {
    padding:          8px;
    width:            175px;
    border:           none;
    border-radius:    10px;
    outline:          none;
    text-transform:   uppercase;
  }
  
  .inputSearchText:-webkit-autofill {
    
    -webkit-text-fill-color: black;
    -webkit-box-shadow: 0 0 0px 1000px white inset; 
}

  .inputButton {
    font-size:        medium;
    padding:          10px;
    width:            75px;
    border:           1px solid var(--div-border);
    border-radius:    10px;
  }

  .inputButton:hover {
    border:           1px solid blue;
  }

  .inputButton:active {
    transform: translateY(2px)
  }
  
  select {
    font-size:        medium;
    padding:          8px;
    width:            140px;
    border:           1px solid var(--div-border);
    border-radius:    5px;
    outline:          none;
  }

  select:focus {
    border:           1px solid blue;
  }

  select:hover {
    border:           1px solid blue;
  }
  
  .heading {
    font-size:        x-large;
    font-weight:      bold;
    color:            var(--heading);
  }

  .subheading {
    font-size:        large;
    color:            var(--heading);
  }

  .divHeader {
    background-color: var(--div-border);
    border-radius:    15px;
    border:           none;
  }

  .divContent {
    padding:          10px;
    background-color: var(--div-content);
    background-image: linear-gradient(to right, #4a515c, #4d5560, #535c68, #56606c, #535c68, #505864, #4d5560, #4a515c);    
    border-radius:    15px;
    border:           1px solid var(--div-border);
    text-align:       left;
    box-shadow:       0 8px 16px rgba(0,0,0,0.4);
  }
  .divInnerContent {
    margin-top:       10px;
    padding:          10px;
    background-color: var(--tbl-content);
    border-radius:    15px;
    border:           2px solid var(--div-content-border);
    text-align:       left;
    overflow-x:       hidden;
    overflow-y:       auto;
  }

  .tabTitle{
    color:            var(--heading);
    font-size:        large;
    font-weight:      bold;
    text-align:       left;
  }

  .tableHeader {
    width:            100%;
    padding:          10px 10px;
    border:           none;
    text-align:       left;
  }
/* DEL */
  .tableContent {
    width:            100%;
    padding:          10px 10px;
    background-color: var(--tbl-content);
    border-radius:    15px;
    vertical-align:   top;
  }

  th {
    font-size:        medium;
    color:            var(--tbl-heading);
    white-space:      nowrap;
    vertical-align:   top;
    text-align:       left;
  }
  
  td {
    text-align:       left;
    vertical-align:   top;
  }

  .login {
    display:          flex;
    justify-content:  center;
  }

  .chart {
    padding-left:     5px;
    width:            800px;
    border:           2px solid var(--div-content-border);
    border-radius:    5px;
  }

  .totals {
    margin-left:      10px;
    padding-left:     5px;
  }

  .rptHeader {
    color:            var(--tbl-rpt-txt);
  }

  .rptRow {
    color:            var(--tbl-rpt-txt);
  }

  .tooltip {
    position:         relative;
    display:          inline-block;
    border-bottom:    1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility:       hidden;
    width:            225px;
    height:           40px;
    background-color: #4e4e4e;
    color:            #ffffff;
    border-radius:    5px;
    padding:          5px;
    position:         absolute;
    z-index:          1;
    opacity:          0;
    transition:       opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content:          "";
    position:         absolute;
    border-width:     5px;
    border-style:     solid;
    border-color:     #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility:       visible;
    opacity:          1;
  }