<tr>
    <td class="rptRow">{{period}}</td>
    <td class="rptRow">${{"{:,.2f}".format(asset_value)}}</td>
    <td class="rptRow">{{"{:,.2f}".format(shares_owned)}}</td>
    <td class="rptRow">{{price}}</td>
    <td class="rptRow">{{dividend}}</td>
    <td class="rptRow">{{income}}</td>
    <td class="rptRow">${{"{:,.2f}".format(balance)}}</td>
    <td class="rptRow">{{contribution}}</td>
    <td class="rptRow">{{"{:,.2f}".format(purchased)}}</td>
</tr>