<tr><th>Years Vested</th><td style="text-align: left;">{{months/12}}</td></tr>
<tr><th>Vested Amount</th><td style="text-align: left;">${{ "{:,.2f}".format(contributions)}}</td></tr>
<tr><th>Asset Value</th><td style="text-align: left;">{{"${:,.2f}".format(value)}}</td></tr>
<tr><th>Asset Growth</th><td style="text-align: left;">{{"{:,.2f}".format(pct_growth * 100 * months)}}%</td></tr>
<tr><th>Shares Accumulated</th><td style="text-align: left;">{{"{:,.2f}".format(shares_owned)}}</td></tr>
<tr><th>Next Distribution</th><td style="text-align: left;">{{"${:,.2f}".format(last_dividend)}}</td></tr>
<tr><th>Total Distributions</th><td style="text-align: left;">{{"${:,.2f}".format(total_dividends)}}</td></tr>

</tr>
