{% from 'bootstrap5/form.html' import render_form %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <title>DivCalc Error</title>
    <body>
        {{header|safe}}
        <div style="text-align: center; margin-top:100px">

            <div class="divContent" style="height: 405px; width: 725px; margin:auto">
                <span class="tabTitle">Oops!</span>
                <div class="divInnerContent" style="height: 350px; width: 700px;">
                    {{msg|safe}}
                </div>
            </div>
        </div>
    </body>
</html>
