{% from 'bootstrap5/form.html' import render_form %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="page">
            {{header|safe}}
        </div>
        <div style="text-align: center; ">
            <div class="divContent" style="height: 405px; width: 725px; margin:auto">
                <span class="tabTitle">Disclaimer</span>
                <div class="divInnerContent" style="height: 350px; width: 700px; margin:auto;">
                    {{history|safe}}
                </div>
            </div>
        </div>
    </body>
</html>