{% from 'bootstrap5/form.html' import render_form %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<title>DivCalc Simulation Report</title>
<body>
    <div class="page">
        {{header|safe}}
        <table width="100%">
            <tr>
                <td colspan="2" style="padding-top: 15px;">{{ config }}</td>
            </tr>
            <tr>
                <td style="width: 600px; padding-right: 15px; padding-top: 15px;">{{ chart_sim }}</td>
                <td rowspan="2" style="padding-top: 15px;">{{ summary }}</td>
            </tr>
        </table>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js" integrity="sha512-BNaRQnYJYiPSqHHDb58B0yaPfCu+Wgds8Gp/gU33kqBtgNS4tSPHuGibyoeqMV/TJlSKda6FXzoEyYGjTe+vXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>

    <script>
        document.getElementById("link_pdf").addEventListener('click', () => {
                dqs = document.querySelector(".page");
                const { jsPDF } = window.jspdf;
                const doc = new jsPDF();
                
                doc.html(dqs);
                doc.save("{{ticker}}.pdf");
        });
    </script>

</body>

</html>