{% from 'bootstrap5/form.html' import render_form %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="page">
            {{header|safe}}
            <table width="100%">
                <tr style="padding-top: 15px;">
                    <td style="width: 600px; padding-right: 15px; padding-top: 15px;">{{profile|safe}}</td>
                    <td style="padding-top: 15px;">{{metrics|safe}}</td>
                </tr>
                <tr>
                    <td colspan="2"  style="padding-top: 15px;">{{config|safe}}</td>
                </tr>
            </table>
        </div>
    </body>
</html>