{% from 'bootstrap5/form.html' import render_form %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <title>DivCalc Settings</title>
    <body>
        <div class="page">
            {{ header }}
        </div>
        <div style="text-align: center;">
            <br>
            {{ content }}
        </div>
    </body>
</html>