<div class="divContent" style="width: 800px;" id="chart">
    <table width="100%">
        <tr>
            <td><span class="tabTitle">Simulation</span></td>
            <td style="text-align: right;">
                <a id="link_pdf" href="#">PDF</a>
                <a href="/data/csv" target="_blank">CSV</a>
                <a href="/data/json" target="_blank">JSON</a>
            </td>
        </tr>
    </table>

    <canvas id="summary_chart"></canvas>
</div>

<script>
Chart.register({
    id: 'bgFill',
			beforeDraw: function (chart, easing) {
				if (chart.config.options.chartArea && chart.config.options.chartArea.backgroundColor) {
					var helpers = Chart.helpers;
					var ctx = chart.ctx;
					var chartArea = chart.chartArea;

					ctx.save();
					ctx.fillStyle = chart.config.options.chartArea.backgroundColor;
					ctx.fillRect(chartArea.left, chartArea.top, chartArea.right - chartArea.left, chartArea.bottom - chartArea.top);
					ctx.restore();
				}
			}
		});

    const ctx = document.getElementById('summary_chart').getContext('2d');
    const divChart = new Chart(ctx, {
        
        data: {
            labels: {{ labels }},
        datasets:
        [{
            yAxisID:         'y1',
            label:           'Income',
            data:            {{ income }},
            type:            'line',
            borderColor:     '#DD5746',
            fill:            false,
            
        },
        {
            yAxisID:         'y2',
            label:           'Assets',
            data:            {{ assets }},
            type:            'bar',
            borderColor:     '#4793AF',
            backgroundColor: 'rgba(54, 162, 235, 0.2)',
        },
        ]
                },
        options: {
            plugins: {
                legend: {
                    labels: {
                        color: 'white',
                    }                    
                }
            },
            responsive: true,
            scales: {
                x: {
                    ticks: {
                        color: 'white',
                            }

                },
                y1: {
                    type:'linear',
                    position:'left',
                    ticks: {
                        color: 'white',
                            callback: function(value, index, ticks) {
                                return '$' + value;
                            }
                    }
                },
                y2: {
                    type:'logarithmic',
                    position:'right',
                    grid: {
                        drawOnChartArea: false, // Use left ticks
                    },
                    ticks: {
                        color: 'white',
                            callback: function(value, index, ticks) {
                                return '$' + value;
                            }
                    }
                }
            },
            chartArea: {
					backgroundColor: 'white'
			}
        }
    });
</script>