<div class="divContent">
    <table width="100%">
        <tr>
            <td><span class="tabTitle">Report Summary</span></td>
            <td style="text-align: right;"><a href="" target="_blank"></a></td>
        </tr>
    </table>
    <div class="divInnerContent">
        <table>
            <tr>
                <th style="border-bottom: 1px solid black;" colspan="2">Vestment</th>
            </tr>
            <tr>
                <th>Years Vested</th>
                <td style="text-align: left;">{{totals['years_vested']}}</td>
            </tr>
            <tr>
                <th>Total Contributions</th>
                <td style="text-align: left;">${{ "{:,.2f}".format(totals['contributions'])}}</td>
            </tr>
            <tr>
                <th style="padding-top:3%; border-bottom: 1px solid black;" colspan="2">Assets</th>
            </tr>
            <tr>
                <th>Avg Growth/PP</th>
                <td style="text-align: left;">{{"{:,.3f}".format(totals['asset_growth_avg'])}}%</td>
            </tr>
            <tr>
                <th>Total Growth</th>
                <td style="text-align: left;">{{"{:,.3f}".format(totals['asset_growth_tot'])}}%</td>
            </tr>
            <tr>
            <tr>
                <th>Starting Assets</th>
                <td style="text-align: left;">{{"${:,.2f}".format(totals['starting_assets'])}}</td>
            </tr>
            <tr>
                <th>Ending Assets</th>
                <td style="text-align: left;">{{"${:,.2f}".format(totals['ending_assets'])}}</td>
            </tr>
                <th>Total Shares</th>
                <td style="text-align: left;">{{"{:,.2f}".format(totals['shares_owned'])}}</td>
            </tr>
            <tr>
                <th style="padding-top:3%; border-bottom: 1px solid black;" colspan="2">Dividends</th>
            </tr>
            <tr>
                <th>Initial Dividend</th>
                <td style="text-align: left;">{{"${:,.2f}".format(totals['starting_distribution'])}}</td>
            </tr>
            <tr>
                <th>Final Dividend</th>
                <td style="text-align: left;">{{"${:,.2f}".format(totals['ending_distribution'])}}</td>
            </tr>
            <tr>
                <th>* Monthly Income</th>
                <td style="text-align: left;">{{"${:,.2f}".format(totals['income_monthly'])}}</td>
            </tr>
            <tr>
                <th>Annual Income</th>
                <td style="text-align: left;">{{"${:,.2f}".format(totals['income_annual'])}}</td>
            </tr>
            <tr>
                <th>Total Reinvested</th>
                <td style="text-align: left;">{{"${:,.2f}".format(totals['total_reinvested'])}}</td>
            </tr>
            <tr>
                <th>Avg. Growth/PP</th>
                <td style="text-align: left;">{{"{:,.2f}".format(totals['distribution_growth_avg'])}}%</td>
            </tr>
            <tr>
                <th>Total Growth</th>
                <td style="text-align: left;">{{"{:,.2f}".format(totals['distribution_growth_tot'])}}%</td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: left;"><span style="font-style: oblique;">
                <p>Headings marked with PP (per period) use calculations to portion or average dividends and assets.</p>
                <p>*Monthly Income can estimate budgeting of quarterly, semiannual, and annual dividends.</p></span></td>
            </tr>
        </table>
    </div>
</div>
