<div class="divContent">
    <table class="tableHeader" style="width:100%; padding:10px 10px; border:none; text-align:left;">
        <tr>
            <td>
                <span class="heading">{{ app_info.name }}</span>
                <br>
                <span class="subheading">{{ app_info.version }}</span>
                <br>
                <span style="color:white;">Session: {{ session['username'] }} API: {{ session['api_src'] }}</span>
            </td>
            <td style="width: 226px;">
                <a href="{{url_for('index')}}">Home</a> &nbsp;
                <a href="{{url_for('settings')}}">Settings</a> &nbsp;
                <a href="{{url_for('logout')}}">Logout</a>
                
                <div style="border-radius: 10px; background-color: white; width: 226px; margin-top: 15px;">
                    <form action="{{ url_for('search') }}" method="post" class="search_form" id="search_form" autocomplete="off">
                        <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" />
                        <input type="hidden" name="source" value = "search_form" />
                        <img src="{{ url_for('static', filename='mag.png') }}" height="14px" style="margin-left: 5px;" />
                        <input type="text" name="stock_symbol" id="stock_symbol" class="inputSearchText" placeholder="Search Symbol" list="history"/>
                        <datalist id="history">
                            {% for symbol in session['stock_history'] %}
                                <option value="{{ symbol }}">{{ symbol }}</option>
                            {% endfor %}
                    </form>
                </div>
                            
            </td>
        </tr>
    </table>
</div>

<script>
    /* 
        This script will submit the form when a stock symbol is selected from the dropdown list
    */
        document.getElementById('stock_symbol').addEventListener('input', function() {
            const options = document.getElementById('history').options;
            for (let i = 0; i < options.length; i++) {
                if (options[i].value === this.value) {
                    document.getElementById('search_form').submit();
                    break;
                }
            }
        });
</script>