<div class="divContent">
    <table width="100%">
        <tr>
            <td><span class="tabTitle">Report Summary</span></td>
            <td style="text-align: right;"><a href="" target="_blank"></a></td>
        </tr>
    </table>
    <div class="divInnerContent" style="height:366px">
        <table>
            <tr>
                <th colspan="2">
                    {{ model.profile['company_name'] }}
                    ({{ model.profile['stock_symbol'] }})
                </th>
            </tr>
            <tr>
                <th class="thSummarySection"  colspan="2">Vestment</th>
            </tr>
            <tr>
                <th>Years Vested</th>
                <td style="text-align: left;">
                    {{ "{:.2f}".format(totals['years_vested']) }}
                </td>
            </tr>
            <tr>
                <th>Initial Capital</th>
                <td style="text-align: left;">
                    ${{ "{:,.2f}".format(totals['initial_capital']) }}
                </td>
            </tr>
            <tr>
                <th>Recurring</th>
                <td style="text-align: left;">
                    ${{ "{:,.2f}".format(totals['contributions']) }}
                </td>
            </tr>
            <tr>
                <th>Total Investment</th>
                <td style="text-align: left;">
                    ${{ "{:,.2f}".format(totals['investment_tot']) }}
                    @{{model.financials['share_price']}}/share
                </td>
            </tr>
            <tr>
                <th class="thSummarySection" colspan="2">Dividends</th>
            </tr>
            <tr>
                <th> {{ frequency }} </th>
                <td style="text-align: left;">
                    ${{ "{:,.2f}".format(totals['ending_distribution']) }}
                </td>
            </tr>
            <tr>
                <th>Annual</th>
                <td style="text-align: left;">
                    {{ "${:,.2f}".format(totals['income_annual']) }}
                </td>
            </tr>
            <tr>
                <th>Progression ($)</th>
                <td style="text-align: left;">
                    {{ "{:+,.2f}".format(totals['starting_distribution']) }}
                    &rightarrow;
                    {{ "{:+,.2f}".format(totals['distribution_growth_tot']) }} 
                    ({{ "{:+,.2f}".format(totals['distribution_growth_pct']) }}%)
                </td>
            </tr>
            <tr>
                <th>Avg Change</th>
                <td style="text-align: left;">
                    ${{"{:,.2f}".format(totals['distribution_growth_avg'])}}
                </td>
            </tr>
            <tr>
                <th>Reinvested</th>
                <td style="text-align: left;">
                    {{"${:,.2f}".format(totals['total_reinvested'])}}
                </td>
            </tr>
            <tr>
                <th  class="thSummarySection" colspan="2" >Assets</th>
            </tr>
            <tr>
                <th>Shares Owned</th>
                <td style="text-align: left;">
                    {{ "{:,.2f}".format(totals['shares_owned']) }}
                </td>
            </tr>
            <tr>
                <th>Cash Balance</th>
                <td style="text-align: left;">
                    $ {{ "{:,.2f}".format(totals['cash']) }}
                </td>
            </tr>
            <tr>
                <th>Securities</th>
                <td style="text-align: left;">
                    {{ "${:,.2f}".format(totals['ending_assets']) }}
                </td>
            </tr>
            <tr>
                <th>Total</th>
                <td>
                    {{ "${:,.2f}".format(totals['ending_assets'] + totals['cash']) }}
                </td>
            </tr>
        </table>
    </div>
</div>
