<div class="divContent" style="width: 1250px; margin:auto">
    <table style="width: 100%;">
        <tr style="height: 30px;;">
            <td style="vertical-align:top;"><span class="tabTitle">Model Defaults</span></td>
            <td style="text-align: right;"><a href="{{ url_for('help') }}" target="_blank">Help</a></td>
        </tr>
    </table>            
    <div class="divInnerContent" style=" width: 1225px; margin:auto;">
        <form form action="{{ url_for('settings') }}" method="post" name="settingsForm" id="settingsForm">
            <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" />
            <table>
                <tr>
                    <th colspan="5">Reinvestment Form Defaults:</th>
                </tr>
                <tr>
                    <th>Initial Shares </th>
                    <th>Periods        </th>
                    <th>Frequency      </th>
                    <th>Contributions  </th>
                    <th>Reinvest Mode  </th>
                </tr>
                <tr>
                    <td>{{ settings.shares_owned(class="inputText", autocomplete="off") }}</td>
                    <td>{{ settings.term(class="inputText", autocomplete="off") }}</td>
                    <td>{{ settings.frequency(autocomplete="off") }}</td>
                    <td>{{ settings.contribution(class="inputText", autocomplete="off") }}</td>
                    <td>{{ settings.purchase_mode(autocomplete="off") }}</td>
                    <td>{{ settings.save(class="inputButton") }}</td>
                </tr>
            </table>
        </form>
    </div>
</div>