<div class="divContent">
    <table width="100%">
        <tr>
            <td><span class="tabTitle">Configure Model Parameters</span></td>
            <td style="text-align: right;"><a href="" target="_blank">Help</a></td>
        </tr>
    </table>
    <div class="divInnerContent" style="height: 75px;">
        <form action="{{ url_for('report') }}" method="post" name="reportForm" id="reportForm">
            <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" />
            {{form.stock_symbol}}
            {{form.source}}
            <table width="100%">
                <tr>
                    <th style="text-align: left;">Initial Amt.  </th>
                    <th style="text-align: left;">Contributions </th>
                    <th style="text-align: left;">Shares        </th>
                    <th style="text-align: left;">Mode          </th>
                    <th style="text-align: left;">Price         </th>
                    <th style="text-align: left;">Dividend      </th>
                    <th style="text-align: left;">Term          </th>
                    <th style="text-align: left;">Frequency     </th>
                    <th style="text-align: left;">Volatility    </th>
                </tr>
                <tr>
                    <td style="text-align: left;">{{ form.initial_capital(autocomplete="off", class="inputText") }}</td>
                    <td style="text-align: left;">{{ form.contribution(autocomplete="off", class="inputText") }}</td>
                    <td style="text-align: left;">{{ form.shares_owned(autocomplete="off", class="inputText") }}</td>
                    <td style="text-align: left;">{{ form.purchase_mode(autocomplete="off") }}</td>
                    <td style="text-align: left;">{{ form.share_price(autocomplete="off", class="inputText") }}</td>
                    <td style="text-align: left;">{{ form.distribution(autocomplete="off", class="inputText") }}</td>
                    <td style="text-align: left;">{{ form.term(autocomplete="off", class="inputText") }}</td>
                    <td style="text-align: left;">{{ form.frequency(autocomplete="off") }}</td>
                    <td style="text-align: left;">{{ form.volatility(autocomplete="off", class="inputText") }}</td>
                    <td style="text-align: left;">{{ form.run(class="inputButton") }}</td>
                </tr>
            </table>
        </form>
    </div>
</div>
