<div class="divContent">
    <table width="100%">
        <tr>
            <td><span class="tabTitle">Report Summary</span></td>
            <td style="text-align: right;"><a href="" target="_blank"></a></td>
        </tr>
    </table>
    <div class="divInnerContent" style="height: 370px;">
        <table>
            <tr><th>Years Vested</th><td style="text-align: left;">{{totals['years_vested']}}</td></tr>
            <tr><th>Vested Amount</th><td style="text-align: left;">${{ "{:,.2f}".format(totals['contributions'])}}</td></tr>
            <tr><th>Asset Value</th><td style="text-align: left;">{{"${:,.2f}".format(totals['value'])}}</td></tr>
            <tr><th>Asset Growth</th><td style="text-align: left;">{{"{:,.3f}".format(totals['pct_growth'])}}%</td></tr>
            <tr><th>Shares Accumulated</th><td style="text-align: left;">{{"{:,.2f}".format(totals['shares_owned'])}}</td></tr>
            <tr><th>Next Distribution</th><td style="text-align: left;">{{"{:,.2f}".format(totals['next_dividend'])}}</td></tr>
            <tr><th>Total Distributions</th><td style="text-align: left;">{{"${:,.2f}".format(totals['total_dividends'])}}</td></tr>

        </table>
    </div>
