<div class="divContent" style="width: 800px;">
    <table width="100%">
        <tr>
            <td><span class="tabTitle">Dividend Performance</span></td>
        </tr>
    </table>
     <div class="divInnerContent">
        <canvas id="history_chart"></canvas>
    </div>
</div>

<script>
Chart.register({
    id: 'bgFill',
			beforeDraw: function (chart, easing) {
				if (chart.config.options.chartArea && chart.config.options.chartArea.backgroundColor) {
					var helpers = Chart.helpers;
					var ctx = chart.ctx;
					var chartArea = chart.chartArea;

					ctx.save();
					ctx.fillStyle = chart.config.options.chartArea.backgroundColor;
					ctx.fillRect(chartArea.left, chartArea.top, chartArea.right - chartArea.left, chartArea.bottom - chartArea.top);
					ctx.restore();
				}
			}
		});

    const ctx = document.getElementById('history_chart').getContext('2d');

    const labels = {{ div_dates }}
    const data   = {{ div_amounts }}

    const chartData = labels.map((date, i) => ({
      x: date,
      y: parseFloat(data[i])
    }));

    const divChart = new Chart(ctx, {

    data: {
        datasets: [
            {
                label: 'Dividend Amount',
                data:  chartData,
                type:  'bar',
            }
        ],
    },
});
</script>