<div class="divContent">
    <table width="100%">
        <tr>
            <td><span class="tabTitle">Dividend Metrics</span></td>
            <td style="text-align: right;"><a href="" target="_blank">History</a></td>
        </tr>
    </table>
    <div class="divInnerContent" style="height: 300px;">
        <table>
            <tr>
                <th>Current Price</th>
                <td>{{quote['Global Quote']['05. price']}}</td>
            </tr>
            <tr>
                <th>Book Value</th>
                <td>{{overview['BookValue']}}</td>
            </tr>
            <tr>
                <th>P/E Ratio</th>
                <td>{{overview['PERatio']}}</td>
            </tr>
            <tr>
                <th>Beta</th>
                <td>{{overview['Beta']}}</td>
            </tr>
            <tr>
                <th>Annual Yield</th>
                <td>{{overview['DividendYield']}}</td>
            </tr>
            <tr>
                <th>Execution Date</th>
                <td>{{overview['ExDividendDate']}}</td>
            </tr>
            <tr>
                <th>Distibuted Date</th>
                <td>{{overview['DividendDate']}}</td>
            </tr>
            <tr>
                <th>Dividend Amount</th>
                <td>{{dividend['amount']}}</td>
            </tr>
        </table>
    </div>
</div>