<div class="divContent" style="width: 800px;" id="chart">
    <table width="100%">
        <tr>
            <td><span class="tabTitle">Simulation</span></td>
            <td style="text-align: right;">
                <a id="link_pdf" href="#">PDF</a>
                <a href="/data/csv" target="_blank">CSV</a>
                <a href="/data/json" target="_blank">JSON</a>
            </td>
        </tr>
    </table>

    <canvas id="summary_chart"></canvas>
</div>

<script>
Chart.register({
    id: 'bgFill',
			beforeDraw: function (chart, easing) {
				if (chart.config.options.chartArea && chart.config.options.chartArea.backgroundColor) {
					var helpers = Chart.helpers;
					var ctx = chart.ctx;
					var chartArea = chart.chartArea;

					ctx.save();
					ctx.fillStyle = chart.config.options.chartArea.backgroundColor;
					ctx.fillRect(chartArea.left, chartArea.top, chartArea.right - chartArea.left, chartArea.bottom - chartArea.top);
					ctx.restore();
				}
			}
		});

    const ctx = document.getElementById('summary_chart').getContext('2d');
    const divChart = new Chart(ctx, {
        
        data: {
            labels: {{ labels }},
        datasets:
        [{
            yAxisID:         'y1',
            label:           'Income',
            data:            {{ income }},
            type:            'bar',
            fill:            false,
            
        },
        {
            yAxisID:         'y2',
            label:           'Price',
            data:            {{ price }},
            type:            'bubble',
        },
        {
            yAxisID:         'y3',
            label:           'Assets',
            data:            {{ assets }},
            type:            'line',
        },
        ]
                },
        options: {
            plugins: {
                legend: {
                    labels: {
                        color: 'white',
                    }                    
                }
            },
            responsive: true,
            scales: {
                x: {
                    title: {
                        display: true,
                        text: 'Term (Periods)',
                        color: 'white'
                    },
                    ticks: {
                        color: 'white',
                            }

                },
                y1: {
                    type:'linear',
                    position:'left',
                    grid: {
                        drawOnChartArea: false,
                    },
                    title: {
                        display: true,
                        text: 'Dividend',
                        color: 'white'
                    },
                    ticks: {
                        color: 'white',
                            callback: function(value, index, ticks) {
                                return '$' + value;
                            }
                    }
                },
                y3: {
                    type:'linear',
                    position:'right',
                    grid: {
                        drawOnChartArea: false,
                    },
                    title: {
                        display: true,
                        text: 'Asset Value',
                        color: 'white'
                    },
                    ticks: {
                        color: 'white',
                            callback: function(value, index, ticks) {
                                return '$' + value;
                            }
                    }
                },
                y2: {
                    type:'linear',
                    position:'left',
                    grid: {
                        drawOnChartArea: false,
                    },
                    title: {
                        display: true,
                        text:    'Stock Price',
                        color:   'white'
                    },
                    ticks: {
                        color: 'white',
                            callback: function(value, index, ticks) {
                                return '$' + value.toFixed(2);
                            }
                    }
                }            },
            chartArea: {
					backgroundColor: 'white'
			}
        }
    });
</script>